<div class="col-md-3 offset-md-1">
<%= render 'list', user: @user, book: @book %>
</div>

<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">

  <div class="col-md-8 offset-md-1">
    <h2>Books</h2>
    <table class="tavle table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
      </thead>
    <tbody></tbody>
  </table>
  </div>
</div>